html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.user-login-page {
    background: linear-gradient(60deg, rgba(0, 0, 23, 1) 0%, rgba(4, 19, 56, 1) 90%, rgba(6, 31, 77, 1) 100%) !important;
    min-height: calc(100vh - 82px);
    display: table;
    width: 100%;
}

.user-login-container * {
    color: #fff !important;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

.user-login-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

.user-login-container form {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

.user-login-container h2 {
    text-align: center;
}

.user-login-container input[type="text"],
.user-login-container input[type="email"],
.user-login-container input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

.user-login-container label {
    color: #a0a0a0 !important;
    font-size: 13px;
    display: block;
    margin-top: 15px;
}

.user-login-container input::placeholder {
    color: #fff;
    opacity: 1;
}

.user-login-container button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

.user-login-container button:hover {
    cursor: pointer;

}

/*////////// RECHTER ZIJDE //////////*/
.loginText {
    padding: 45px;
    display: table-cell;
}

.loginText h1 {
    color: #b88805 !important;
    font-size: 45px;
    font-weight: bold;
}

/* .loginText h2 {
    margin: 35px 0;
} */

/* .loginText ul {
    padding: 0;
} */

.loginText li {
    font-size: 17px;
    list-style-type: none;
    padding: 5px 30px;
    background: url(../images/checkmark-48.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.error-message {
    color: #ff6666;
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.success-message {
    color: #0abb13;
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}


/*///////////////  //////////////////////////*/
.footer-container {
    color: rgb(179, 179, 179);
    text-align: center;
    padding: 32px;
    background: black;
}

.encore-text {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block-start: 0;
    margin-block-end: 0;
    color: inherit;
}
footer {
    display: block;
}